body{
	background: #282828;
}
.form_login {
	   /* Size & position */
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: white; /* Fallback */
    background: -moz-linear-gradient(#eeefef, #ffffff 10%);
    background: -ms-linear-gradient(#eeefef, #ffffff 10%);
    background: -o-linear-gradient(#eeefef, #ffffff 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
    background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
    background: linear-gradient(#eeefef, #ffffff 10%);
}
.form_login .field{
	position:relative; /* for icon positioning*/
}
.form_login .field i{
  /* Size and position */
    left: 0px;
    top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;

    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 42px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
}
h2,span{font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    /* Size and positioning*/
    }
.form_login input[type="text"],
.form_login input[type="password"],.sign_up{
	font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
	/* Size and positioning*/
	width: 100%;
	padding: 10px 18px 10px 45px;

	/*Styles */
	border: none;
	box-shadow:
		inset 0 0 5px rgba(0,0,0,0.1),
		inset 0 3px 2px rgba(0,0,0,0.1);
	border-radius: 3px;
	background: #f9f9f9;
	color: #777;
	-webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
.sign_up{
    text-decoration: none;
    margin-left: 200px;
    padding: 10px;

}
.form_login input[type="text"]{
	margin-bottom: 10px;
}
.form_login input[type=text]:hover ~ i,
.form_login input[type="password"]:hover ~ i{
color: #52cfeb;
}
.form_login input[type="text"]:focus ~ i,
.form_login input[type="password"]:focus ~i;{
	color: #42A2BC;
}
.form_login input[type="text"]:focus;
.form_login input[type="password"]:focus,
.form_login input[type="submit"]:focus{
	outline: none;
}
.form_login .submit{
/* size and positioning*/
width: 65px;
height: 65px;
position: absolute;
top: 17px;
right: -25px;
padding: 10px;
z-index: 2;

/*Styles */
background: #fff;
border-radius: 50%;
box-shadow: 
 		0 0 2px rgba(0,0,0,0.1),
        0 3px 2px rgba(0,0,0,0.1),
        inset 0 -3px 2px rgba(0,0,0,0.2);

}
.form_login button{
 /* Size and position */
    width: 100%;
    height: 100%;
    margin-top: -1px;
 
    /* Icon styles */
    font-size: 1.4em;
    line-height: 1.75;
    color: white;
 
    /* Styles */
    border: none; /* Remove the default border */
    border-radius: inherit;
    background: linear-gradient(#52cfeb, #42A2BC);
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.3),
        0 1px 2px rgba(0,0,0,0.35),
        inset 0 3px 2px rgba(255,255,255,0.2),
        inset 0 -3px 2px rgba(0,0,0,0.1);
 
    cursor: pointer;

}
.form_login .submit:after{
/* Size and position*/
content :"";
width: 10px;
height: 10px;
position: absolute;
top: -2px;
left: 30px;

/* styles*/
background: #fff;
box-shadow: 0 62px white, -32px 31px white;
}
.form_login button:hover,
.form_login button[type="submit"]:focus{
	background: #52cfeb;
	transition: all 0.3s ease-out;
}
.form_login button:active{
	background: #42A2BC;
	box-shadow:
		inset 0 0 5px rgba(0,0,0,0.3),
		inset 0 3px 4px rgba(0,0,0,0.3);

}
.container{
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: auto;

}
ul, li{
    margin : 0;
    padding: 0;
    list-style-type: none;
}
#pswd_info{
    position: absolute;
    top: 110px;
    right: -155px;
    width:250px;

    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}
#pswd_info h4{
    margin: 0 0 10pt 0;
    padding: 0;
    font-weight: normal;
}
#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:18pt;
    left:-4%;
    font-size:14pt;
    line-height:14pt;
    color:#FFF;
    text-shadow:none;
    display:block;

    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
}
li span{
    color: #ddd;
    font-size: 13pt
}
.invalid {
    background:url(../img/invalid.png) no-repeat 0 50%;
    padding-left:22pt;
    line-height:24pt;
    color:#ec3f41;
}
.valid {
    background:url(../img/valid.png) no-repeat 0 50%;
    padding-left:22pt;
    line-height:24pt;
    color:#3a7d34;
}
#pswd_info{
    display: none;
}